*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}

#root {
  width: 100%;;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Nav{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

}

.Personajes,
.Location,
.Episodios {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem
}

.Personaje-title,
.Location-title {
  font-size: 3rem;
  font-family: monospace;
}
.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}
.Search {
  color: black;
  box-shadow: 0px 0px 15px white;
  padding: 18PX;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: solid 2px gray;
  border-radius: 8px;
}

.Search-label {
  color: rgb(255, 255, 255);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 1.3rem;

  & select {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.Pages {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.Card-location,
.Card-episodes {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 2px gray;
  border-radius: 8px;
  box-shadow: 0 0 15px gray;
}

button{
  color: black;
}
a{
  color: black;
}
